.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color: var(--color-primary);
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contact {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--institutional {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .btn--institutional {
      display: unset;
      margin: unset;
    }
}


.btn--institutional:hover,
.btn--contact:hover,
.btn--events:hover {
  color: var(--color-copy);
  background: unset;
  box-shadow: 0 1rem 1rem #0006; /* x, y, blur, cor */
}

.btn--contact:hover {
  color: #fff;
}

.btn--quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
  background: unset;
}

