.Depoimentos {
  position: relative;
  height: 34.625rem;
  overflow: hidden;
}

.depoimentos__background {
  position: absolute;
  z-index: -1;
  object-fit: contain;
  object-position: center;
}

.depoimentos__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 7rem 1.875rem;
}

.depoimentos__copy h4 {
  color: var(--color-primary);
}

.depoimentos__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: -0.3125rem;
  color: var(--color-primary);
}

.depoimentos__copy p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}

.depoimentos__section {
  display: grid;
  justify-items: center;
}
