.enterprise {
  position: relative;
  height: 34.625rem;
  overflow: hidden;
}

.enterprise__background {
  position: absolute;
  z-index: -1;
  object-fit: contain;
  object-position: center;
  background-color: #000;
}

.enterprise__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 5rem 1.875rem;
}

.enterprise__copy h2 {
  color: var(--color-primary);

  margin: 0;
  font-size: 7.5rem;
  font-weight: bold;
}

.enterprise__copy p {
  color: #ccc;
  max-width: 74ch;

  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.875rem;
}


/* MAIN SECTION*/

.enterprise__container { 
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 4rem;
}

.enterprise_copy {
  color: #000;

  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.enterprise_copy h2 {
  font-weight: 800;
  font-size: 1.5625rem;
  line-height: 1.875rem;
}


.img_man {
  width: 600px;
  height: 424px;
}

.section {
  padding: 4.375rem 0 2rem 0;
  background-color: var(--color-primary);
}

.patrocinio-container {
  background-color: var(--color-primary);
}

/* Section */

.logo-patrocinio h2 {
  padding-bottom: 2.75rem;

  text-align: center;
  font-weight: 800;
  font-size: 1.5625rem;
  

  color: #000;
}




