.events {
  position: relative;
  height: 34.625rem;
  overflow: hidden;
} 

.events__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.events__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 7rem 1.875rem;
}

.events__copy h4 {
  color: var(--color-primary);
}

.events__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: -0.3125rem;
  color: var(--color-primary);
}

.events__copy p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  max-width: 74ch;
  color: var(--color-copy--alt);
}

/* box 1 / 2 */

.box {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5.25rem 0;
}

.box_avatar {
    padding-left: 3rem;
}

.box_copy {
    padding-left: 3rem;
}

.box_copy h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--color-primary);   
}

.box_copy h4 {
    color: #000;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 1rem;
    font-weight: 700;
}

.box_copy p {
    color: #333;
    font-size: 1rem;
    line-height: 1.6875rem;
    font-weight: 400;
    max-width: 70ch;
}

.box_button {
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn--events {
    color: #fff;
    background-color: var(--color-primary);
}


.copy-eventos {
    display: grid;
    justify-content: center;
    align-content: center;
}

